<ion-view hide-nav-bar="true">



<ion-content>

    <div class="row">
        <div class="col">
            <div class="bar bar-header bar-positiveCustom">
                <a class="button icon-right ion-chevron-left iconColor" ng-click="AboutUs()"></a>
                <h1 class="title title">ABOUT US</h1>
            </div>
        </div>
    </div>

<br>

    <div class="row">
        <div class="col">
            <h5 class="ABOUTuS">ABOUT US</h5>
        </div>
    </div>

<div class="row">
    <div class="col">
        <img src="img/Aboutbacground.png" class="aboutUsImg">
    </div>
</div>

    <div class="row">
        <div class="col">
           <p>Lorem ipsum dolor sit amet, et lobortis donec consectetuer auctor, diam in commodo dolor sit sed pretium, vel feugiat at, aptent sed, ut justo eros mauris vestibulum. Ipsum nam donec ultricies et nulla nulla, nullam at volutpat mauris lacinia ac. Scelerisque risus nibh varius morbi, eu mi faucibus varius, non feugiat euismod, elit dictum vehicula mauris suscipit. Felis risus metus sapien, duis sed blandit. Sollicitudin enim nisl posuere, orci eget tempus erat id in, ipsum commodo sed quis scelerisque. Aliquam dapibus tincidunt curabitur sapien metus vel, nisl congue eros sit semper, ultrices condimentum vestibulum massa non, vitae mi aptent in pede pede. Lectus in diam, curabitur non in vulputate cras tincidunt. Amet at pulvinar ac, et nibh phasellus quam augue, lorem eu vestibulum or</p>

        </div>

    </div>


</ion-content>

</ion-view>


<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>