<ion-view view-title="ADD BALANCE">
<ion-content>

<div class="row">
    <div class="col" style="margin-top: 10%;">
        <p class="AddBalance">Current Balance is RS.XXXX</p>


        <div class="item item-input">
                <input type="text" placeholder="Enter card number">
        </div>
    </div>
</div>


    <div class="row">
        <div class="col">
            <button class="button button-block payAddBalanceButton">
                PAY With PayPal
            </button>
            <p class="text-center">(OR)</p>
        </div>
    </div>


    <div class="row">
        <div class="col">

            <button class="button button-block payAddBalanceButton">
                PAY With Card
            </button>
        </div>

    </div>

</ion-content>



</ion-view>


<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>