<ion-view view-title="CONTACT US">



<ion-content>

    <div class="row">
        <div class="col">
            <h5 class="h5ContactUs">CONTACT US</h5>
        </div>
    </div>


    <div class="row">
        <div class="col">

            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Name">
                </label><br/>

                <label class="item item-input">
                    <input type="text" placeholder="Email">
                </label><br>

                <label class="item item-input">
                    <input type="text" placeholder="subject">
                </label><br>
            </div>
        </div>
    </div>



<div class="row">
    <div class="col">
        <label class="item item-input">
            <textarea placeholder="message"></textarea>
        </label>


</div>
</div>




    <div class="row">
        <div class="col">
            <button class="button button-block contactUsButton">
                SUBMIT MESSAGE
            </button>
        </div>
    </div>

</ion-content>

</ion-view>

<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>