<ion-view view-title="CONTACT US">

    <ion-content>



        <div class="row">
            <div class="col">
                <h5 class="h5ContactUs">ADDRESS</h5>
            </div>
        </div>

        <div class="row">
            <div class="col col-25">
                <img src="img/Address.png" class="addresIcon">
            </div>

            <div class="col col-50 AddressiCONtEXT">
                <div>Freelancer.com</div>
                <div>Level 20</div>
                <div>World Square</div>
                <div>680 george street Square</div>
                <div>Australia 2000</div>

            </div>
        </div>
        </div>

<br>

        <div class="row">
            <div class="col col-25">
                <img src="img/phone.png" class="addresIcon">
            </div>

            <div class="col col-50 AddressiCONtEXT">
                <div>+91 234567</div>
                <div>+91 23456789</div>
                <div>+91 45678791</div>


            </div>
        </div>
        </div>

<br>
        <div class="row">
            <div class="col col-25">
                <img src="img/message.png" class="addresIcon">
            </div>


            <div class="col col-50 AddressiCONtEXT">
                <div>abc@gmail.com</div>
                <div>kaz@yahpp/cpm</div>
                <div>masti maza@co.com</div>


            </div>
        </div>
        </div>


    </ion-content>
</ion-view>

<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>