<ion-view  hide-nav-bar="true">

<ion-content>

    <div class="row">
        <div class="col">
            <div class="bar bar-header bar-positiveCustom">
                <a class="button icon-right ion-chevron-left iconColor" ng-click="backforget()"></a>
                <h1 class="title title">FORGET PASSWORD</h1>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top:20%;">
        <div class="col">

            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="EMAIL OR PHONE" ng-model="recoverEmail.email">
                </label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">

                <button class="button button-block buttonForgetPassworddens" ng-click="sentEmail()">
                    SEND
                </button>

        </div>
    </div>

    </ion-content>
</ion-view>

<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>