<ion-view view-title="INVITE FRIENDS">

    <ion-content>

        <div class="row">
            <div class="col">

                <p class="inviteText">Lorem Ipsum is simply dummy text of the printing and typesetting industry.lorem Ipsum has the industry's standered dummy.</p>

            </div>
        </div>



        <div class="row">
            <div class="col">
                <button class="button button-block sendButton" ui-sref="invitebyEmail">
                    INVITE BY EMAIL
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-block sendButton" ui-sref="invitebynumber">
                    INVITE BY SMS
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>


<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>