<ion-view hide-nav-bar="true">

    <ion-content>

        <div class="row">
            <div class="col">
                <div class="bar bar-header bar-positiveCustom">
                    <a class="button icon-right ion-chevron-left iconColor" ui-sref="inviteFriend"></a>
                    <h1 class="title title">INVITE BY SMS</h1>
                </div>
            </div>
        </div>
<br>



        <div class="row item">

            <div class="col col-50">

                Ramesh Gupta<br>
                +91234567
            </div>
            <div class="col"></div>

            <div class="col col-20">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>

        </div>

        <div class="row item">

            <div class="col col-50">

                Ramesh Gupta<br>
                +91234567
            </div>
            <div class="col"></div>

            <div class="col col-20">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>
        </div>

        <div class="row item">

        <div class="col col-50">

            Ramesh Gupta<br>
            +91234567
        </div>
        <div class="col"></div>

        <div class="col col-20">
            <label class="checkbox">
                <input type="checkbox">
            </label>
        </div>
    </div>

        <div class="row item">

            <div class="col col-50">

                Ramesh Gupta<br>
                +91234567
            </div>
            <div class="col"></div>

            <div class="col col-20">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>
        </div>


        <div class="row item">

            <div class="col col-50">

                Ramesh Gupta<br>
                +91234567
            </div>
            <div class="col"></div>

            <div class="col col-20">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>
        </div>


        <div class="row item">

            <div class="col col-50">

                Ramesh Gupta<br>
                +91234567
            </div>
            <div class="col"></div>

            <div class="col col-20">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>
        </div>

        <div class="row item">

            <div class="col col-50">

                Ramesh Gupta<br>
                +91234567
            </div>
            <div class="col"></div>

            <div class="col col-20">
                <label class="checkbox">
                    <input type="checkbox">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-block sendButton" ui-sref="inviteFriend">
                    SEND
                </button>
            </div>
        </div>


    </ion-content>
</ion-view>

<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>