<ion-view view-title="PAYMENT CONFORMATION">

<ion-content>


<div class="row">
    <div class="col text-center" style="margin-top:20%;">
        <p class="payconfirmation">Amount is being Added RS.500</p>
        <p class="payconfirmation">Cradit Card Charged RS.10</p>
        <p class="paymentBa">New Balance RS.600</p>
    </div>
</div>


</ion-content>



</ion-view>


<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>