<ion-view hide-nav-bar="true">
<ion-content>

    <div class="row">
        <div class="col">
            <div class="bar bar-header bar-positiveCustom">
                <a class="button icon-right ion-chevron-left iconColor" ng-click="backTerm()"></a>
                <h1 class="title title">TERMS & SERVICE</h1>
            </div>
        </div>
    </div>

    <div class="row " style="margin-top: 10%;">
        <div class="col">
            <h4 class="h4C">TERMS & SERVICE</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>


    <div class="row ">
        <div class="col">
            <h4 class="h4C">PRIVACY & POLICY</h4>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>

    <!--<div class="row">
        <div class="col">
            <button class="button button-block signUpButtonC" ui-sref="signUp">
               AGREE TERMS & CONDITIONS
            </button>
        </div>
    </div>-->
</ion-content>
</ion-view>


<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>

        <button class="button button-dark icon ion-document">

            Privacy
        </button>
        <button class="button button-dark icon ion-document-text">

            Terms</button>
    </div>
</ion-footer-bar>