<ion-view hide-nav-bar="false" view-title="CHAT">
<ion-content>


    <div class="list" style="margin-top:10%;">

        <a class="item item-avatar" href="#">
            <img src="img/venkman.jpg">
            <h2>Venkman</h2>
            <p>Status Mesage.</p>
        </a>



        <a class="item item-avatar" href="#">
            <img src="img/don.jpg">
            <h2>Donansun</h2>
            <p>Status Mesage.</p>
        </a>

       <a class="item item-avatar" href="#">
            <img src="img/farzi.jpg">
            <h2>Farzi John</h2>
            <p>Status Mesage.</p>
        </a>

        <a class="item item-avatar" href="#">
            <img src="img/kartik.jpg">
            <h2>Kartik</h2>
            <p>Status Mesage.</p>
        </a>
        <a class="item item-avatar" href="#">
            <img src="img/Staird.jpg">
            <h2>staird</h2>
            <p>Status Mesage.</p>
        </a>


        <a class="item item-avatar" href="#">
            <img src="img/venkman.jpg">
            <h2>Venkman</h2>
            <p>Status Mesage.</p>
        </a>



        <a class="item item-avatar" href="#">
            <img src="img/farzi.jpg">
            <h2>Farzi John</h2>
            <p>Status Mesage.</p>
        </a>

    </div>

</ion-content>
</ion-view>


<ion-footer-bar class="marginFooter">
    <div class="button-bar  button-dark">
        <button class="button button-dark icon ion-compose" ui-sref="aboutUs">
            About
        </button>
        <button class="button button-dark icon ion-document" ui-sref="term&services">
            Privacy
        </button>
        <button class="button button-dark icon ion-document-text" ui-sref="term&services">
            Terms
        </button>
    </div>
</ion-footer-bar>